// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-blue: #007bff;
$blue-dark: #0b6cd4;
$blue-dark-500: #0959b0;
$blue-dark-900: #0853a4;
$white: #FFF;
$dark-grey: #636b6f;
$primary-red: #db3236;
$red-500: #e4292d;
$primary-green: #3cba54;
$green-500: #329c47;